@tailwind base;
@tailwind components;
@tailwind utilities;


/* Add shape animation CSS BELOW this line */

.bg-shape {
  position: absolute;
  opacity: 0.08;
  filter: blur(0.5px);
  animation: slowFloat 22s ease-in-out infinite;
  will-change: transform, opacity;
}

@keyframes slowFloat {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(18px, -14px); /* visible movement */
  }
  100% {
    transform: translate(-12px, 10px);
  }
}

/* Glow card effect */
.glow-card {
  position: relative;
  border-radius: 20px;
  border: 2.5px solid transparent;
  transition: border-color 0.4s ease;
}

/* Dark mode border */
.dark .glow-card {
  border-color: rgba(94, 8, 214, 0.941); 
}

/* Light mode border */
:root:not(.dark) .glow-card {
  border-color: rgba(190, 7, 156, 0.76); 
}